body {
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    display:flexbox;
    margin: 8vh 8vw;
    text-align: center;
}
.header_all{
    font-family: Arial, Helvetica, sans-serif;
    margin: 8vh 8vw;
}
.header_title{
    font-size: 3vh;
}
.header_subtitle{
    font-size: 1.5vh;
}
.imagem_quadrinho{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.line{
    padding: 32px 0px;
}
.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.line_out{
    margin-bottom: 50px;
    font-size: 22px;
}
.line_in{
    
    width: 60vw;
    padding: 10px;
    margin: 10px;
}

.line_in h3 {
    font-weight: normal;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comment_section_left{
    display: flex;
    flex-direction: row-reverse;
}
.comment_section_right{
    display: flex;
    flex-direction: row;
}
.imagem{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.couple_comment{

}
.comment{
    display: flex;
    height: 50%;
    align-items: center;
    padding: 0px 80px;
}
.conteiner_img_user{
    
}
.img_user{
    width: 100%;
    object-fit: cover;
    margin-right: 64px;
}
.text{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-end; */
}
.user_text{

}
.username{
    font-weight: bold;;
}
.data{
    display: flex;
    text-align: start;
    justify-content: center;
}
.form_info{

}
.data_title{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: xx-large;
}
.data_input{
    
}
.data_input_field{
    display: flex;
    flex-direction: column;

}
.data_input_label{
    margin-bottom: 10px;
}
.input{
    margin-bottom: 10px;
    background-color: lightgray;
    border: 1px solid lightslategray;
    height: 30px;
}
.data_input_checkbox{
    display: flex;
}
.send_info{
    width: 100%;
}
.button_submit{
    color:white;
    border: none;
    background-color: blue;
    text-transform: uppercase;
    height: 30px;
    border-radius: 6px;
    font-weight: 700;
}
.creator{
    text-align: center;
}
.card{
    width: 30%;
    border: 2px solid black;
}
p{
    font-weight: bold;
}